{% extends "settings/based.html" %} {% load static %}

<!-- Ajoutez cette ligne pour charger les balises de bloc -->

{% block title %}Dashboard{% endblock %} {% block content %}



<section>
  <div class="gap gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <div class="col-lg-3">
              <aside class="sidebar static">
                <div class="widget">
                  <h4 class="widget-title">Recent Activity</h4>
                  <ul class="activitiez">
                  {% for activitie in user_activities %}

                    <li>
                      <div class="activity-meta">
                        <h6> <a href="{% url 'setting_accueil' activitie.other_username %}">{{activitie.other_username}}</a></h6>

                        <span
                          ><a href="#" title=""
                            > A {{activitie.activity_type}} votre post
                          </a></span
                        >
                        <i>{{activitie.created_at|timesince}}</i>

                      </div>
                    </li>
                  {% endfor %}


                  </ul>
                </div>                <!-- recent activites -->

              </aside>
            </div>
            <!-- sidebar -->
            <div class="col-lg-6">
              <div class="central-meta">
                <ul class="photos">
                  {% for post in posts %}

                  <li>
                    <a
                      class="strip"
                      href="{{post.image.url}}"
                      title=""
                      data-strip-group="mygroup"
                      data-strip-group-options="loop: false"
                    >
                      <img src="{{post.image.url}}" alt=""
                    /></a>
                  </li>
                  {% endfor %}
                </ul>
                <div class="lodmore">
                  <button class="btn-view btn-load-more"></button>
                </div>
              </div>
              <!-- photos -->
            </div>
            <!-- centerl meta -->
            <div class="col-lg-3">
              <aside class="sidebar static">
                <!-- twitter feed-->
                <!-- friends list sidebar -->
              </aside>
            </div>
            <!-- sidebar -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
