{% extends "base.html" %} {% load static %}
<!-- Ajoutez cette ligne pour charger les balises de bloc -->

{% block title %}Log-in{% endblock %} {% block content %}
<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>Winku</h1>
						<p>
							Winku is free to use for as long as you want with two active projects.
						</p>
						<div class="friend-logo">
							<span><img src="{% static 'images/mylogo.png' %}" alt=""></span>
						</div>
						<a href="#" title="" class="folow-me">Follow Us on</a>
					</div>	
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area sign">
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible text-center" role="alert">
              {{message}}
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            {% endfor %}
						<h2 class="log-title">Login</h2>
							<p>
								Don’t use Winku Yet? <a href="#" title="">Take the tour</a> or <a href="#" title="">Join now</a>
							</p>
              <form class="pt-3" method="POST">
                {% csrf_token %}
                							<div class="form-group">	
							  <input type="text" id="input" name="username" autocomplete="off" required="required"/>
							  <label class="control-label"  for="input">Username</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  <input type="password" autocomplete="new-password" name="password" required="required"/>
							  <label class="control-label"  for="input">Password</label><i class="mtrl-select"></i>
							</div>
							<div class="checkbox">
							  <label>
								<input type="checkbox" checked="checked"/><i class="check-box"></i>Always Remember Me.
							  </label>
							</div>
							<a href="{% url 'password_reset' %}" title="" class="forgot-pwd">Forgot Password?</a>
							<div class="submit-btns">
								<button class="mtr-btn signin" type="submit"><span>Se connecter</span></button>
								<a href="{% url 'register' %}" class="mtr-btn signup" type="button"><span>S'enregistrer</span></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
