{% extends "base.html" %} {% load static %}
<!-- Ajoutez cette ligne pour charger les balises de bloc -->

{% block title %}Log-in{% endblock %} {% block content %}
<div class="wrapper bg-white">
  <div class=" text-center"><img style="width: 300px;" src="{% static 'images/loogocus.png' %}" alt=""
    /></div>  <div class="h4 text-muted text-center pt-2">Enregistrement</div>
  <form class="pt-3" method="POST">
    {% csrf_token %}
    <div class="form-group py-2">
      <div class="input-field">
        <span class="far fa-user p-2"></span>
        <input
          type="text"
          placeholder="Username"
          required
          name="username"
          class=""
        />
      </div>
    </div>
    <div class="form-group py-2">
      <div class="input-field">
        <span class="far fa-user p-2"></span>
        <input
          type="text"
          placeholder="Email Address"
          name="email"
          required
          class=""
        />
      </div>
    </div>

    <div class="form-group py-1 pb-2">
      <div class="input-field">
        <span class="fas fa-lock p-2"></span>
        <input
          type="password"
          placeholder="Enter your Password"
          name="password"
          required
          class=""
        />
        <button class="btn bg-white text-muted">
          <span class="far fa-eye-slash"></span>
        </button>
      </div>
    </div>
    <div class="form-group py-1 pb-2">
      <div class="input-field">
        <span class="fas fa-lock p-2"></span>
        <input
          type="password"
          placeholder="Repeat your Password"
          name="password2"
          required
          class=""
        />
        <button class="btn bg-white text-muted">
          <span class="far fa-eye-slash"></span>
        </button>
      </div>
    </div>

    <button class="col-12 btn btn-block text-center my-3">Sign Up</button>
    <div class="text-center pt-3 text-muted">
      Vous ete membres? <a href="{% url 'login' %}">Connect</a>
    </div>
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible text-center" role="alert">
      {{message}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
  </form>
</div>
{% endblock %}
